---
import Layout from "../layouts/Layout.astro";
import Link from "../components/Link.astro"
---

<Layout title="Blog">
    <main>
      <ul>
        <li><Link href="/blog/what-im-learning">What I'm Currently Learning</Link></li>
      </ul>
    </main>
</Layout>