---
import Page from "../components/Page.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Contact">
  <Page>
    <main>
      <h1><span class="text-gradient">Contact</span></h1>
    </main>
  </Page>
</Layout>
