---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Home">
  <main>
    Hi I'm Dillon, I'm a software engineer with over 10 years of experience in Web Development with a focus on Frontend.
  </main>

  <style></style>
</Layout>
