---
import Page from "../components/Page.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Resume">
  <Page>
    <main> 
      <h1><span class="text-gradient">Resume</span></h1>
    </main>
  </Page>
</Layout>