---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Resume">
  <main class="space-y-1">
    <h2 class="my-4">Dillon Curry</h2>
    <p>
      <strong>Senior Software Engineer</strong>
      <strong>•</strong>
      <strong> Wayfair</strong>
    </p>
    <p>Boston, MA</p>
    <p>
      <a target="_blank" href="mailto:dilloncurry@gmail.com">
        <span style="color:rgb(17, 85, 204);">dilloncurry@gmail.com</span>
      </a>
      •
      <a target="_blank" href="http://linkedin.com/in/dilloncurry">
        <span style="color:rgb(17, 85, 204);">linkedin.com/in/dilloncurry</span>
      </a>
    </p>
    <p>
      Adaptive software engineer with 11 years of experience developing web
      applications for customer-facing, design systems, and internal business
      intelligence applications. Communicative team player, with experience in
      working with UX, design, and product teams, looking to continue learning
      and developing professionally in an innovative environment.&nbsp;
    </p>
    <p>
      <span style="text-decoration:underline;">SKILLS</span>
    </p>
    <div>
      <table class="my-0">
        <tbody>
          <tr>
            <td>
              <ul class="my-0">
                <li>JavaScript (TS, React.js, Node)</li>
                <li>HTML / CSS</li>
                <li>Agile with Scrum &amp; Kanban</li>
              </ul>
            </td>
            <td>
              <ul class="my-0">
                <li>UI Wireframing</li>
                <li>SQL</li>
                <li>Frontend Design Systems</li>
              </ul>
            </td>
            <td>
              <ul class="my-0">
                <li>Web Accessibility</li>
                <li>Monitoring</li>
                <li>CI / CD Pipelines</li>
              </ul>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <p>
      <span style="text-decoration:underline;">EMPLOYMENT</span>
    </p>
    <p>
      <strong>Wayfair</strong>, Boston, Massachusetts
    </p>
    <p>
      <em>Senior Software Engineer - Frontend Platforms</em>
      |
      <strong>
        <em>Aug 2023 - Present</em>
      </strong>
    </p>
    <ul>
      <li>
        Updated linting process of Wayfair’s translation library to prevent the
        potential for invalid translation data.
      </li>
      <li>
        Created a deploy dashboard to give hundreds of engineers more
        transparency into the status of their code deploys
      </li>
      <li>
        Co-hosted a live systems design interview as the interviewee for
        hundreds engineers which was recorded as a training guide for all
        interviewers at Wayfair
      </li>
    </ul>
    <p>
      <em>Senior Software Engineer - Design Systems</em>
      |
      <strong>
        <em>Nov 2018 - Aug 2023</em>
      </strong>
    </p>
    <ul>
      <li>
        Maintained and created new components in React.js for Wayfair.com’s
        Design System which services millions of customers across multiple
        brands, and is used to create new interfaces by over 500 engineers
        daily.
      </li>
      <li>
        Setup testing pipelines to measure unit test coverage and run automated
        e2e tests with Cypress.
      </li>
    </ul>
    <p>
      <em>Software Engineer - Storefront</em>
      |
      <strong>
        <em>Sep 2017 - Nov 2018</em>
      </strong>
    </p>
    <ul>
      <li>
        Built and maintained the features which enables millions customers to
        purchase samples for flooring or fabrics and custom upholstered
        furniture.
      </li>
      <li>
        Built and unit tested the feature which enables customers to view
        product photos in 360 degrees using JavaScript and lazy loading
        techniques.
      </li>
    </ul>
    <p>
      <strong>GSN Games</strong>, Boston, Massachusetts
    </p>
    <p>
      <em>Software Engineer - Data Engineering</em>
      |
      <strong>
        <em>June 2015 - Sept 2017</em>
      </strong>
    </p>
    <ul>
      <li>
        Maintainer for GSN’s BI application, created over 100 ad-hoc reports for
        Analysts and PMs to measure user events.
      </li>
      <li>
        Set up the experiment results API (for AB testing) in Python (Flask)
        with unit testing and deployed with Docker on AWS.&nbsp;
      </li>
      <li>
        Created an admin web application with Angular2 and TypeScript which
        enables the company to create, manage, and run reports for all
        experiments across 5 separate applications.
      </li>
      <li>
        Set up custom daily scheduled email reports sent to the entire company
        showing changes in KPI's over the last 30 days.
      </li>
    </ul>
    <p></p>
    <p>
      <em>Software Engineer - GSN.com</em>
      <strong>
        <em>| Nov 2013 - June 2015</em>
      </strong>
    </p>
    <ul>
      <li>
        Worked on GSN.com advocating for and implementing the first responsive
        pages to help transform the overall experience and provide a better
        experience on mobile devices.
      </li>
      <li>
        Tested and released code every week with JS and Perl to over 100,000
        active users.
      </li>
    </ul>
    <p></p>
    <p>
      <strong>Twin Engine Labs,</strong> Shreveport, Louisiana
    </p>
    <p>
      <em>Software Engineer</em>
      <strong>
        <em>|</em>
      </strong>
      <em></em>
      <strong>
        <em>Mar 2013 - Sept 2013</em>
      </strong>
    </p>
    <ul>
      <li>
        Built web prototypes from designer mockups for clients using PHP,
        JavaScript, HTML/CSS, and SQL
      </li>
      <li>
        Created Ruby on Rails web application for internal company website which
        included admin only CMS.
      </li>
    </ul>
    <p>
      <strong>Logic Nation,</strong> Shreveport, Louisiana
    </p>
    <p>
      <em>Software Engineer</em>
      <strong>
        <em>|</em>
      </strong>
      <em></em>
      <strong>
        <em>Sep 2011 - Mar 2013</em>
      </strong>
    </p>
    <ul>
      <li>
        Built UIs HTML/CSS/JavaScript for a web application that allowed
        hundreds of users to communicate with celebrities.
      </li>
    </ul>
    <p>
      <span style="text-decoration:underline;">EDUCATION</span>
    </p>
    <p>
      <strong>Bossier Parish Community College (BPCC),</strong>
      Bossier City, Louisiana
    </p>
    <ul>
      <li>Associate in Science (AS), Computer Information Systems, May 2011</li>
    </ul>
  </main>
</Layout>

<style>
  iframe {
    height: 1200px;
  }
</style>
