---
import { Image } from 'astro:assets';
import myPicture from '../../public/images/me.png'
import Link from './Link.astro';

---

<nav class="prose" transition:animate="none">
  <Image width="63" height="63" src={myPicture} alt="Picture of Dillon Curry" class="my-1" />
  <ul class="mt-0 flex items-center" >
    <li>
      <Link href="/">Home</Link>
    </li>
    <li>
      <Link href="/blog">Blog</Link>
    </li>
    <li>
      <Link href="/resume">Resume</Link>
    </li><li>
      <Link href="/contact">Contact</Link>
    </li>
  </ul>
</nav>

<style>
    nav {
    text-align: right;
    margin: 0 auto;
    padding: 0 24px;
    max-width: 65ch;
    display: flex;
    justify-content: space-between;
    height: 72px;
  }

  nav li {
    display: inline-block;
    padding-left: 4px;
  }
</style>