---
import Link from "./Link.astro";
---

<div class="Page" transition:animate="fade">
  <main class="prose prose-h1:font-semibold">
    <slot />
  </main>
</div>
<p class="text-center block pb-12"
  >😂 there is nothing down here - <Link href="#">Back to Top👆</Link></p>

<style>
  .Page {
    display: flex;
    justify-content: center;
    align-items: stretch;
  }
  .Page main {
    min-height: calc(100vh - var(--nav-height) * 2);
    flex-grow: 1;
    margin-bottom: 50vh;
    padding: 0 24px;
  }
</style>
