---
import Link from "./Link.astro";
---

<div class="Page">
  <main class="prose border-solid border-slate-300 border">
    <slot />
  </main>
</div>
<p class="text-center block pb-12"
  >😂 there is nothing down here - <Link href="#">Back to Top👆</Link></p>

<style>
  .Page {
    display: flex;
    justify-content: center;
    align-items: stretch;
  }
  .Page main {
    min-height: calc(100vh - var(--nav-height) * 2);
    padding: 0 24px;
    flex-grow: 1;
    margin: 0 24px 50vh 24px;
  }
</style>
