---
import Link from "./Link.astro";
---

<div class="Page">
  <main class="prose dark:prose-invert">
    <slot />
  </main>
</div>
<footer class="text-center pb-10">
  <p class="prose dark:prose-invert m-0 mx-auto">
    😂 there is nothing down here -&nbsp;<Link href="#">Back to Top👆</Link>
  </p>
</footer>

<style>
  .Page {
    display: flex;
    justify-content: center;
    align-items: stretch;
  }
  .Page main {
    min-height: calc(100vh - var(--nav-height) * 2);
    flex-grow: 1;
    margin-bottom: 50vh;
    padding: 0 24px;
  }
</style>
