---
import Link from "../components/Link.astro";
import Page from "../components/Page.astro"

interface Props {
  title: string;
}

const { title } = Astro.props;


---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
   
    <nav>
      <img src="/images/me.png" alt="Picture of Dillon Curry" class="my-1">
      <ul>
        <li>
          <Link href="/">Home</Link>
        </li>
        <li>
          <Link href="/blog">Blog</Link>
        </li>
        <li>
          <Link href="/resume">Resume</Link>
        </li><li>
          <Link href="/contact">Contact</Link>
        </li>
      </ul>
    </nav>
    <Page>
      <slot />
    </Page>
  </body>
</html>
<style is:global>
  :root {
    --page-max-width: 940px;
    --nav-height: 72px;
    --accent: 136, 58, 234;
    --accent-light: 224, 204, 250;
    --accent-dark: 49, 10, 101;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      rgb(var(--accent-light)) 30%,
      white 60%
    );
  }
  html {
    font-family: "Gill Sans", sans-serif;
    font-size: 18px;
    background-size: 224px;
  }
  code {
    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
  }
  nav {
    display: flex;
    justify-content: space-between;
    height: 72px;
    max-width: var(--page-max-width);
    margin: 0 24px;
  }

  nav ul {
    padding: 24px;
  }
	nav li {
		display: inline-block;
		padding-left: 4px;
	}

</style>
